/* FORMS */

body {
    background-color: #eeeeee;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 18px;
}

form {
    text-align: center;
    margin-top: 50px;
}


#form-container {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#form-container input:focus {
    outline-width: 0;
}

#form-container input[type="text"], #form-container input[type="number"]{
    width: 250px;
    font-size: 35px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    border-bottom: 1px solid #333;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px 14px 10px 60px;
    float: center;
    margin-bottom: 30px;
    background-color: inherit;
}

#form-container input[type="submit"]{
    width: 324px;
    font-size: 40px;
    border: none;
    background-color: #7600b3;
    color: white;
    margin-top: 10px;
    padding: 20px 30px;
}

#form-container input[type="submit"]:hover{
    background-color: #54007f;
}

#form-container input[name="username"]{
    background-image: url('images/person.svg');
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: bottom 7px left;
}

#form-container input[name="botName"]{
    background-image: url('images/face.svg');
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: bottom 7px left;
}

#form-container input[name="pin"]{
    background-image: url('images/pin.svg');
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: bottom 7px left;
}

h2 {
    margin-top: 120px;
}
