body {
  background-color: #3a0058;
}

a {
  color: #7600b3;
}

#tutorial-container {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px 85px 20px 85px;
  background-color: white;
  -webkit-box-shadow: 0 0 10px #555;
  box-shadow: 0 0 10px #555;
}

#registered {
  font-weight: bold;
  color: #7600b3;
  font-size: 18px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 17px;
}

img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

li {
  margin-bottom: 25px;
}

li span {
  font-weight: bold;
}

#demo {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
}

#demo-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 9px 9px 9px 9px;
  max-width: 500px;
  background-color: #eee;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid #eee;
}

#commands {
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
    #tutorial-container{
        width: 85%;
        padding: 25px 25px;
    }

}
